{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingCommas": {
    "array": true,
    "object": true,
    "function": false
  },
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "proseWrap": "always",

  "plugins": ["prettier-plugin-tailwindcss"]
}
